<div class="card-columns animated fadeIn">
    <div *ngFor="let item of items" class="card">
        <img (click)="getArtist(item)" [src]="item.images | noimage" class="card-img-top puntero">
        <div class="card-body">
            <h5 class="card-title">{{item.name}} </h5>
            <p class="card-text">
                <span (click)="getArtist(artist)" *ngFor="let artist of item.artists" class="badge badge-primary puntero">{{artist.name}}</span>
            </p>
        </div>
    </div>
</div>